.main{
    width: 100%;
    overflow: auto;
    position: absolute;
    bottom: 0;
    top: 64px;
}
.search-bar{
    width: 95%;
}
.second-div{
    display: flex;
}
.fill-space {
    flex: 1 1 auto;
}

