<div class="main">
  <mat-form-field style="width:100%;">
    <input class="search-bar" matInput type="search" (keyup.enter)="searchStation($event.target.value)"
      placeholder="Search">
    <mat-icon>search</mat-icon>
  </mat-form-field>
  <div class="second-div">
      <span class="fill-space"></span>
      <button mat-button (click)="promptMap()" color="accent" mat-raised-button cdkFocusInitial>SHOW ALL ON MAP</button>
  </div>
  <div *ngIf="language=='EN'">
    <app-station *ngFor="let item of en_stations" [station]="item" (updateEvent) = "ngOnInit()"></app-station>
  </div>
  <div *ngIf="language=='TC'">
    <app-station *ngFor="let item of tc_stations" [station]="item" (updateEvent) = "ngOnInit()"></app-station>
  </div>
</div>