.example-card {
    margin: 2%;
}
  
.example-header-image {
    background-size: cover;
}
.card-img{
    margin: 5%;
    max-width: 250px;
    max-height: 250px;
}
.card-btn{
    background-color: blue;
    color: white;
}

.card-content{
    display:flex;
    flex: 0 1;
    margin-left: 5%;
}

.content-div{
    width: 50%;
}
